.btn {
  display: block;
  //padding: 26px 0 23px 0;
  padding: 28px 0 21px 0;
  //min-width: 183px;
  //min-height: 57px;

  color: #FFFFFF;
  font-family: $ff-roboto;
  font-weight: 700;
	font-size: 12px;
	line-height: 12px;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: 4px solid #FFFFFF;
  outline-offset: -4px;
  cursor: pointer;

  transition: opacity $trans-default;

  @include vp-1199 {
    padding: 24px 0 25px 0;
  }

  @include vp-767 {

  }

  @include hover {
    color: #103AAE;
    background-color: #FFFFFF;
  }

  @include focus {
    color: #103AAE;
    background-color: #FFFFFF;
  }

  @include active {
    color: #102654;
    background-color: #FFFFFF;
  }

  &--light-bg {
    color: #102654;
    outline: 2px solid #102654;
    outline-offset: -2px;

    @include vp-1199 {
      padding: 27px 0 23px 0;
    }

    @include vp-767 {

    }

    @include hover {
      color: #FFFFFF;
      background: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
      outline: none;
    }

    @include focus {
      color: #FFFFFF;
      background: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
      outline: none;
    }

    @include active {
      color: rgba(255, 255, 255, 0.7);
      background: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
      outline: none;
    }
  }

  &:disabled {
    opacity: 0.5;
    background-color: transparent;

    pointer-events: none;
  }
}
