.btn {
  display: block;
  padding: 28px 10px 21px 10px;
  user-select: none;
  color: #ffffff;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: 4px solid #ffffff;
  outline-offset: -4px;
  cursor: pointer;

  transition: opacity $trans-default;

  @include vp-1199 {
    padding: 24px 10px 25px 10px;
  }

  &:hover {
    color: #103aae;
    background-color: #ffffff;
  }

  &:focus {
    color: #103aae;
    background-color: #ffffff;
  }

  &:active {
    color: #102654;
    background-color: #ffffff;
  }

  &--light-bg {
    color: #102654;
    outline: 2px solid #102654;
    outline-offset: -2px;

    @include vp-1199 {
      padding: 27px 0 23px 0;
    }

    &:hover {
      color: #ffffff;
      background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
      outline: none;
    }

    &:focus {
      color: #ffffff;
      background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
      outline: none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.7);
      background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
      outline: none;
    }

    &.is-active {
      color: #ffffff;
      background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
      outline: none;
    }
  }

  &:disabled {
    opacity: 0.5;
    background-color: transparent;

    pointer-events: none;
  }
}
