.gym {

  &__description {
  }

  &__title {
  }

  &__subtitle {
  }

  &__text {

    &--desktop-only {
    }
  }

  &__image {
  }

  &__video-container {
    position: relative;
    display: block;
    width: 364px;
    height: 100%;
  }

  &__video-player {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 228px;

    & iframe, & object, & embed {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__video-cover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    //cursor: pointer;
  }

  &__video-image {
  }

  &__play-button {
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    cursor: pointer;
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    // border: 2px solid #ED0233;
    // border-image: linear-gradient(90deg, #ED0233 0%, #003EB7 100%);
    // border-image-slice: 1;
    background: linear-gradient(90deg, #ED0233 0%, #003EB7 100%);
    border-radius: 50%;
    background: transparent;

    & svg {
      position: relative;
      width: 72px;
      height: 72px;
      display: block;
      padding: 8px 8px 9px 9px;
      margin: auto;
      color: #FFFFFF;
      border-radius: 50%;
      background: linear-gradient(90deg, #ED0233 0%, #003EB7 100%);
      // z-index: 1;
    }

    &::before {
      position: absolute;
      top: calc(50% - 48px);
      left: calc(50% - 48px);
      content: "";
      display: block;
      width: 96px;
      height: 96px;
      background: linear-gradient(90deg, #ED0233 0%, #003EB7 100%);
      border-radius: 50%;
      // z-index: -1;
    }
  }
}
