.info-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  @include vp-1199 {
    padding: 0;
    padding-left: 36px;
    gap: 15px;
  }

  @include vp-767 {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    justify-content: start;
    row-gap: 20px;
    grid-auto-flow: column dense;
    grid-template-rows: repeat(3, 1fr);
    min-width: 0;
  }

  &__item {
    padding: 0 20px;

    @include vp-1199 {
      padding: 0 8px;
    }

    @include vp-767 {
      padding: 0;
    }
  }

  &__link {
    color: #ffffff;
    font-family: $ff-roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    outline: none;

    &::before {
      content: "";
      position: absolute;
    }

    &:hover:not([disabled])::before {
      bottom: -7px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ffffff;
    }

    &:focus-visible:not([disabled])::before {
      top: -8px;
      left: -10px;
      width: calc(100% + 21px);
      height: calc(100% + 15px);
      border: 1px solid #ffffff;
      background-color: transparent;
    }

    &:active:not([disabled])::before {
      background-color: transparent;
    }

    &[disabled] {
      opacity: 0.4;
      pointer-events: none;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }
}
