.registration-contacts-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1366px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    background-color: #74819c;
    left: 50vw;
    right: 0;
    z-index: -1;
    height: 1px;
    width: 50vw;
  }

  @include vp-1199 {
    grid-template-columns: 100%;

    &::before {
      content: none;
    }
  }
}
