.socials-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 11px;

  &__item {
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    line-height: 0;
    padding: 0;
    margin: 0;
    color: #030a1a;
    border-radius: 50%;
    background-color: #ffffff;

    @include hover-focus {
      color: #ffffff;
      background-color: #103aae;
    }

    &:active {
      color: #ffffff;
      background-color: #102654;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }
}
